name: Deploy MkDocs

on:
  push:
    branches: [ main ]  # билд и публикация при каждом пуше в main

permissions:
  contents: write       # нужно, чтобы пушить в gh-pages

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repo
        uses: actions/checkout@v4

      - name: Setup Python
      - uses: actions/setup-python@v6
        with:
          python-version: '3.10'
          cache: 'pip'
          cache-dependency-path: 'requirements.txt'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Install dependencies
        run: pip install mkdocs-material

      - name: Build and deploy
        run: mkdocs gh-deploy --force
